


.btn-info{
    font-size: 23px;
    background-color: white;
    color: black;
    border-width: 5px;
    border-color: blue;
    width:15%;  
    box-shadow: 8px 8px 8px black;
}
body
{
    background-size:cover;
}
.a{
color:white;
}
